# GCP
YOUR_PROJECT=""
BUCKET_NAME=""
BUCKET_REGION=""
SOURCE_PROJECT=""
PARALLEL_EXPORTS=""

# Hetzner Object Storage (S3-compatible)
HETZNER_S3_BUCKET=""
HETZNER_S3_ENDPOINT=""
S3_CONCURRENCY=""
PARALLEL_UPLOADS=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""

# Caddy serving duckdb
BASIC_AUTH_PASSWORD=""
