:8080 {
    basicauth /* {
        # user: admin | pwd: 2/e+h<L9\V6;
        # regenerate: htpasswd -nbB -C 10 admin NEWPWD | cut -d: -f2 | base64
        admin JDJ5JDEwJHlaV2tLUzBQL2ZsSndBL2g4WDZBNk9NdEZtTnVqcThOOHZ2aXNGRVVMWHhJUDB0WHhNanZD
    }
    reverse_proxy localhost:4213
}
